<div class="wrapper ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span (click)="panelIzquierdo()" class="navbar-brand">X</span>
        <button (click)="mostrarMapa()">M</button>
        <button (click)="app.mostrarAplicacion=!app.mostrarAplicacion">A</button>
        <button class="navbar-toggler" type="button" data-target="#navbarSupportedContent" type="button"
            (click)="menuHeader()" [attr.aria-expanded]="!app.extenderHeader" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>



        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="!app.extenderHeader">
            <ul class="navbar-nav mr-auto">

                <a [routerLink]="['/mapa']"> Mapa</a>

                <a [routerLink]="['/comentar']">Comentarios</a>
                <a *ngIf="!app.logueado" [routerLink]="['/registrar']">Registrarse</a>
                <!-- <a *ngIf="!app.logueado" [routerLink]="['/login']">Login</a> -->
                <span *ngIf="!app.logueado"><button><i class="fas fa-sign-in-alt" (click)="loginClick()"
                            data-toggle="modal" data-target="#modalHeader"></i></button></span>
                <a *ngIf="app.logueado">Conectado como {{app.user.username}}</a>
                <span *ngIf="app.logueado"><button><i class="fas fa-sign-out-alt" (click)="logoutClick()"
                            data-toggle="modal" data-target="#modalHeader"></i></button></span>

                <a [routerLink]="['/eventos']">Eventos</a>



                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/home']"><i class="fas fa-home"></i> <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

<div class="modal fade myContainer" id="modalHeader" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <app-insert-comentario *ngIf="modal"></app-insert-comentario> -->
                <app-login *ngIf="modalLogin"></app-login>
                <app-logout *ngIf="modalLogout"></app-logout>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- <app-modal *ngIf="modal" [modal]="{'loginScreen' : true}"></app-modal> -->