@import "~leaflet/dist/leaflet.css";

.leaflet-control-geocoder{z-index:99999;}

.mapcontainer{position:absolute;
  padding:10px;
 }



.busy.cargando{
  opacity:0.5;
  position:absolute;
  top:45%;
  left:50%;
  z-index:2000;
 
 }
.map-container {
    position: relative;
    /* position: absolute; */

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
    height: 80vh;
    width:90vw;
  }
 

  .map-class.cargando{filter:blur(2px)}
  
  .map-frame {
    width:100%;
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }

  .loading{position:relative;
  top:50%;
left:50%;}

/* #map > div.leaflet-control-container > div.leaflet-top.leaflet-right > div{} */
 
#generate{z-index:9999;}