<div class="row"></div>
<div class="botonera">
    <app-botonera [map]=map>
        <!-- [app]=app> -->

    </app-botonera>
</div>




<div class="mapcontainer">
    <div class="busy cargando" *ngIf="app.cargando" [ngClass]="{'visible': app.cargando}">
        <div class="spinner-border" role="status">
        </div>
    </div>
    <div class="map-container" [ngClass]="{'cargando': app.cargando}">
        <div class="map-frame">
            <div id="map"></div>
            <div id="distance">
            </div>

        </div>

    </div>



</div>