<div class="folio">
  <span class="cerrar"> <span><i (click)="cerrarMenu()" class="fas fa-times"></i> </span></span>
  <div [ngSwitch]="app.paginaDesplegable">
    <app-listar-comentarios *ngSwitchCase="'listarComentarios'"></app-listar-comentarios>
    <app-detalle-evento *ngSwitchCase="'detalleEvento'"></app-detalle-evento>
  </div>

</div>

<!-- <div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Action
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
    </div>
</div> -->

<!-- preguntar si este codigo es mantenible -->
<!-- <div id="listado">
    <ul>EVENTOS EN TU AREA
        <li *ngFor="let item of arrayItems" (click)="item.function">{{item.nombre}}
        </li>
    </ul>
</div> -->

<div class="modal fade myContainer" id="exampleModalCenterMenu" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agregar opinón</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span *ngIf="modal">
          <app-insert-comentario (comentarioExitoso)="comentarioExitoso()"></app-insert-comentario>
        </span>
        <!-- <app-login *ngIf="modal?.loginScreen"></app-login> -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>