<div id="main">

    <div class="col-12 no-gutters nopadding header">
        <app-header></app-header>
    </div>

    <div class="container anchoVisible animada aplicacion col-12 no-gutters nopadding "
        [ngClass]="{'inBisible' : !app.mostrarAplicacion}">
        <div>
            <div class="menu col-12" (click)="menuclicado()" (mouseenter)="menuclicado()"
                [ngClass]="{'desplegado' : app.menu_desplegado}">
                <app-menu [arrayItems]=arrayItems></app-menu>
            </div>

            <app-map [ngClass]="{'inBisible' : !app.mostrarMapa}"></app-map>
            <router-outlet></router-outlet>
        </div>

    </div>