body{background-image:"https://congresosalcala.fgua.es/descargas/files/madrid1.jpg";

    /* background-color:#FFC; */

}


.router-link{width:100vw;
}
    
.aplicacion{
    
     height:90vh;
    background:url("https://congresosalcala.fgua.es/descargas/files/madrid1.jpg");
    background-size: cover;

    

    
    overflow:hidden;
    margin:0 auto;
    border:2px solid blue;
    /* margin-top:200px; */
 
}

 
#main{
     position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
     }


     .cargando{
        /* display:none; */
       opacity:0.5;
       position:absolute;
       top:45%;
       left:55%;
       z-index:10000;
      
      }
 

 .leaflet-popup-content{color:red !important;}

.menu{
    position:fixed;
    clear:both;
top:0px;
width:200vw;
height:100%;
right:99.5%;
 background-color:black;
transition:0.75s;
z-index:19999;

 }
 
.menu{  z-index:999999;
}

.menu.desplegado{
    
    opacity:95%;
    right:0%;
transition:200ms ease-in-out;}

 .header{
     

    height:10vh;
      
    width:100vw;}

 
.mapa{transition-duration:1s;
  
}

.menu.desplegado +  .mapa , .menu.desplegado +  .header{ 
    transition-duration:100ms;
    filter:blur(3px);}
    
/* #generate{position:absolute;} */

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.inBisible{
       
    position:absolute;
    top:-200%;

}
 
.mobile{}

/* .animada{transition-duration:2s;} */