body{background-image:"https://congresosalcala.fgua.es/descargas/files/madrid1.jpg";

    background-color:#FFC;}


.router-link{width:100vw;
}
    
.aplicacion{
    
    height:80vh;
    background-image:"https://congresosalcala.fgua.es/descargas/files/madrid1.jpg";
    background-color:#FFC;
    overflow:auto;
    margin:0 auto;
    border:2px solid blue;
 
}

 
#main{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
     }
 
 .leaflet-popup-content{color:red !important;}

.menu{
    position:fixed;
    clear:both;
top:0px;
width:200vw;
height:100%;
right:99%;
 background-color:black;
transition:1.2s;
z-index:19999;

 }
 
.menu{  z-index:999999;
}

.menu.desplegado{
    
    opacity:66%;
    right:0%;
transition:200ms ease-in-out;}

 .header{width:100vw;}

 
.mapa{transition-duration:1s;
  
}

.menu.desplegado +  .mapa , .menu.desplegado +  .header{ 
    transition-duration:100ms;
    filter:blur(3px);}
    
/* #generate{position:absolute;} */

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.inBisible{
       
    position:absolute;
    top:-200%;

}

/* .animada{transition-duration:2s;} */