 
div.eventos{  position:relative;
  height:80vh;
  width:100vw;
    
}
div.eventos div p {display:inline-block}


  div.cabecera {   
    width:94vw;
    
    position:absolute;

    top:0;
    margin:0 auto;
     /* width: 85%; */
        z-index:1;
 /* position:fixed; */
     display:block; 
     /* height:40px; */
     /* background-color:#FFC; */
    }  

div.listado{
  height:83vh;
  overflow-x: hidden; /* Hide vertical scrollbar */

  overflow-y:auto;
  /* position: relative; */
 
 }
 
 h5 {font-size: 1em;}
 
.redondo {border-radius:25%;}
img {width:100% !important;}


/* .orange{color:orange} */

.cuadro{height:200px; overflow:auto;
}

/* .cuadroImagen{position:fixed;} */

.quieto{position:fixed;}
.recuadro{position:relative;
  padding-bottom:100px;
   height:555px;  
overflow:hidden;}
.esquina{position:absolute;
  cursor : all-scroll;
  bottom:10px; right:10px;}

  .text {font-family : var (--fuentePrimaria)}

  .comentar {position:relative;
    top:-10px;
  margin-top:-10px;}

 
