<div class="botonera" cdkDrag>


    <span cdkDropListOrientation="vertical" cdkDropList (cdkDropListDropped)="drop($event)">
        <button cdkDrag *ngFor="let boton of app.arrayBotones, let i=index"
            [ngClass]="{'inBisible' : !boton.show , 'enlace' : true, 'btn' : true , 'btn-primary' : boton.active, 'btn-secondary' : !boton.active}"
            data-toggle="tooltip" attr.data-placement={{boton.tooltipPos}} title={{boton.tooltip}}
            (click)="botonPresionado(boton)" [innerHTML]="boton.texto">
        </button>
    </span>
</div>


<form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)" class="range-field">
    <span *ngIf="false">
        <!-- desactivado de momento -->
        <label for="selector">FILTRAR POR BARRIO</label>
        <select name="selector" ngModel>
            <option *ngFor="let distrito of distritos" value={{distrito}}>{{distrito}}</option>
            <!-- <option value="SALAMANCA">SALAMANCA</option> -->

        </select>
        <input type="submit">
    </span>
    <span class="control" cdkDrag *ngIf="true">
        <!-- la vista se inicia antes que el input, so we have a problem -->
        <span class="texto" cdkDragHandle>{{map.radius / 1000}} Km</span>

        <input type="range" class="radius" name="radius" value="500" min="500" max="10000" step="500"
            [(ngModel)]="radius" (mouseup)="onRadiusChange(formulario.value.radius)" class="custom-range">
        <output for="radius" onforminput="value = foo.valueAsNumber;"></output>

    </span>
</form>


<!-- //CADA BOTON HACE UNA COSA DISTINTA, no USAN LA MISMA FUNCION y no deja poner (click)={{boton.funcion}} o  attr.onclick={{boton.funcion}} porque dice desabilitado por security reasons
    lo de METERLOS EN UN ARRAY ES PORQUE HACE FALTA PARA EL cdkDrag -->

<!-- <button title="Togasdasdgle cargando" class="btn btn-secondary" (click)="toggleCargando()">Toggle Cargando</button>

    <button title="Limpiar mapa" class="btn btn-secondary" (click)="limpiarMapa()">LIMPIAR MAPA</button>
    <button class="btn btn-secondary" (click)="limpiarRutas()">LIMPIAR RUTAS</button>
    <button class="btn btn-secondary" (click)="toggleMarkers()">{{textomarkers}}</button>
    <button class="btn btn-secondary" (click)="toggleRadio()">ALTERNAR RADIO</button>
    <button class="btn btn-secondary" (click)="modoRutas()" class="btn btn-secondary" data-toggle="tooltip"
     data-placement="top" title="Muestra u oculta rutas">MODO RUTA</button>
    <button class="btn btn-secondary" (click)="toggleBarrios()">{{textobarrios}}</button> -->




<div class="alert alert-warning alert-dismissible fade show">
    <h4 class="alert-heading"><i class="fa fa-warning"></i>Atención!</h4>
    <p>Establecer el rango de búsqueda por encima de 5 km puede suponer un consumo elevado de recursos en equipos
        menos
        potentes
        .</p>
    <hr>
    <p class="mb-0"></p>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>