<div class="registrar">


    <div class="form-group col-12">
        <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario.value)">


            <label>Nombre</label>
            <input type="text" class="form-control" name="username" ngModel>
            <label>Email</label>
            <input class="form-control" name="email" ngModel>
            <label>Password</label>
            <input type="text" class="form-control" name="password" ngModel>
            <input type="submit" value="enviar" class="btn btn-block btn-primary">
        </form>
    </div>

</div>