<div class="registrar">


    <div class="form-group col-12">
        <form class="col-12" [formGroup]="formulario" (ngSubmit)="onSubmit()" novalidate>

            <div class="form-group">
                <label>Nombre de usuario</label>
                <input type="text" class="form-control" formControlName="username">


            </div>
            <div *ngIf="!formulario.controls.username.valid">
                El username de usuario contiene errores
                <p *ngIf="formulario.controls.username.errors?.required">CAMPO REQUERIDO</p>
                <p *ngIf="formulario.controls.username.errors?.minlength">Minima LONGITUD
                    {{formulario.controls.username.errors?.minlength.requiredLength}}</p>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email">
                <div *ngIf="formulario.controls.email.value.length>=55">
                    Formato incorrecto</div>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <div class="form-group">
                <label>Repite Password</label>
                <input type="password" class="form-control" formControlName="repite_password">
            </div>

            <input type="submit" value="enviar" [disabled]="!formulario.valid" *ngIf="formulario.valid"
                class="btn btn-block btn-primary">
            <p>{{formulario.valid}} VALID formulario</p>

            <p>{{formulario.controls.username.valid}} VALID name</p>
            <p>ERRORES {{formulario.controls.username.errors | json}} </p>
            <!-- errors es nulo -->
        </form>
    </div>

</div>