/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root{

    --fuentePrimaria : 'Montserrat', sans-serif;
}

html, body {
    box-sizing:border-box;
    margin:0 auto;

}

.RAJOY{color:red !important;
    background-color:yellow;}
 

.anchoVisible{width:100vw;}

.orange{color:orange}

.enlace {cursor: pointer;}

.borroso {filter:blur(1px)}


.enlace:hover{transform:scale(1.1);
 

}
.recuadro{  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


