<div cdkDrag *ngIf="showBox" class="box col-6 alert alert-primary text-center" role="alert">
    <div id="boxClose" (click)="showBox=false">X</div>

    <p>De mapas por Madrid es una aplicación end-to-end en versión alpha desarrollada como proyecto final del Bootcamp
        Neoland y que pretende hacer uso la muy potente pero desperdigada información del open data de madrid.es</p>

    <p>En su estado actual, hace una recopilación de actividades , eventos y lugares gratutitos la ciudad de Madrid


    <p> Puedes ver todos actualmente disponibles los pulsando eventos</p>
    <p> Aceder al <span class="enlace" (click)="navegarAMapa()">MAPA</span> , en el que podrás configurar diversas
        opciones
    <p>
    </p>

    <p> Realizado con Angular 8 , Express y MySQL y con la ayuda de Bootstrap, JQuery para la maquetación y las
        librerías Cheerio y
        Leaflet.js para el scrapeo web y el trazado de mapas</p>

</div>